@model TrgovinaMVC.Models.artikal

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idartikal)

        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.naziv, "Naziv", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.naziv, new { htmlAttributes = new { @class = "form-control", @maxlength = "30", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.naziv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cena, "Cena", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cena, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "0.01", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.cena, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.jm, "Jedinica mere", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.jm, new { htmlAttributes = new { @class = "form-control", @maxlength = "30" } })
                @Html.ValidationMessageFor(model => model.jm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kolnastanju, "Količina na stanju", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kolnastanju, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "0.01", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.kolnastanju, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}