@model IEnumerable<TrgovinaMVC.Models.artikal>

@{
    ViewBag.Title = "Index";
}

    <div class="row">
        <input type="button" value="Kreiraj novi artikal" class="btn btn-primary mb-3" data-toggle="modal" data-target="#modalEdit" onclick="Create()">
    </div>

<h2>Lista artikala</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Naziv</th>
            <th scope="col">Cena</th>
            <th scope="col">Jedinica mere</th>
            <th scope="col">Količina na stanju</th>
            <th scope="col" />
            <th scope="col" />
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.db_hidden == false)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cena)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.jm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.kolnastanju)
                    </td>
                    <td>
                        <input type="button" value="Izmeni" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalEdit" onclick="Edit(@item.idartikal)">
                    </td>
                    <td>
                        <input type="button" value="Obriši" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalDel" onclick="prepareDelete(@item.idartikal, this)">
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Modal Edit -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Izmena</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="edit_modal_body" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Poništi</button>
                <input type="submit" class="btn btn-primary" form="form" value="Potvrdi" />
            </div>
        </div>
    </div>
</div>

<!-- Modal Del -->
<div class="modal fade" id="modalDel" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Potvrda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Da li ste sigurni da želite da obrišete ovaj artikal?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Poništi</button>
                <button type="button" class="btn btn-primary" onclick="Submit()" data-dismiss="modal">Potvrdi</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
    var idDelete;
    var elementDelete;

    function Edit(id) {
        $.get("/artikals/Edit/" + id, function (data) {
            $("#edit_modal_body").html(data)
            $('form').removeData('validator');
            $('form').removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse('form');
        })
        }

        function Create() {
            $.get("/artikals/Create", function (data) {
                $("#edit_modal_body").html(data)
                $('form').removeData('validator');
                $('form').removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');

            })
        }

    function prepareDelete(id, element) {
        idDelete = id
        elementDelete = element
    }

    function Submit() {
            $.ajax({
                url: '@Url.Action("Delete")',
                type: "POST",
                data: { idArt: idDelete },
                complete: function () {
                    $(elementDelete).parents("tr").hide(250);
                }
            });
    }
    </script>
}