@model IEnumerable<TrgovinaMVC.Models.artikal>

@{
    ViewBag.Title = "Artikli";
}

<div class="row">
    <input id="btnCreate" type="button" value="Kreiraj novi artikal" class="btn btn-primary mb-3" data-toggle="modal" data-target="#modal">
</div>

<h2>Lista artikala</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Naziv</th>
            <th scope="col">Cena</th>
            <th scope="col">Jedinica mere</th>
            <th scope="col">Količina na stanju</th>
            <th scope="col" />
            <th scope="col" />
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.aktivan)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cena)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.jm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.kolnastanju)
                    </td>
                    <td>
                        <input type="button" data-id="@item.idartikal" value="Izmeni" class="btn btn-primary btn-sm btnEdit" data-toggle="modal" data-target="#modal">
                    </td>
                    <td>
                        <input type="button" data-id="@item.idartikal" value="Obriši" class="btn btn-primary btn-sm btnDel" data-toggle="modal" data-target="#modal">
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Poništi</button>
                <div id="modal-submit">
                    <input type="submit" class="btn btn-primary" form="form" value="Potvrdi" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script>


        $("document").ready(function(){
            var status = '@TempData["status"]'
            if (status == 'edited')
                $.bootstrapGrowl("Uspešno ste izmenili podatke o artiklu.", { type: 'success' })
            else if (status == 'added')
                $.bootstrapGrowl("Uspešno ste dodali artikal.", { type: 'success' })
            else if (status == 'nameConflict')
                $.bootstrapGrowl("Već postoji artikal sa ovim nazivom.", { type: 'danger' })
        })

                function parseValidator() {
                        $('form').removeData('validator');
            $('form').removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse('form');
        }

        $("#btnCreate").click(function () {
                        $.get("/artikals/Create", function (data) {
            $("#modal-body").html(data)
                $("#modal-title").text("Kreiranje")
                            $("#modal-submit").html('<input type="submit" class="btn btn-primary" form="form" value="Potvrdi" />')

                parseValidator()

            })
        })



        $(".btnEdit").click(function () {
            var id = $(this).attr("data-id")
            console.log(id)
            $.get("/artikals/Edit/" + id, function (data) {
                $("#modal-body").html(data)
                $("#modal-title").text("Izmena")
                $("#modal-submit").html('<input type="submit" class="btn btn-primary" form="form" value="Potvrdi" />')

                parseValidator()
            })
        })


    $(".btnDel").click(function() {
            var id = $(this).attr("data-id")
        var el = $(this).parents("tr")
        $("#modal-body").html('Da li ste sigurni da želite da obrišete ovaj artikal?')
                        $("#modal-title").text("Potvrda")
        $("#modal-submit").html('<button id="confirmDel" type="button" class="btn btn-primary" data-dismiss="modal">Potvrdi</button>')

        $("#confirmDel").click(function () {
                        $.ajax({
                url: '/artikals/Delete',
                type: "POST",
                data: { id: id },
                complete: function () {
                    $(el).hide(250);
                    $.bootstrapGrowl("Uspešno ste obrisali artikal.", { type: 'danger' })
                }
            });
        })
    })

    </script>
}