@model TrgovinaMVC.Models.racun

@{
    ViewBag.Title = "Kreiraj novi račun";
}

<div class="row mb-3">
    <h2>Kreiraj novi račun</h2>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    <div class="row mb-3">
        <div id="frmRacun">

            @Html.AntiForgeryToken()

            <div class="form-inline">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.tipracuna, "Tip računa:", htmlAttributes: new { @class = "control-label mr-3" })
                    <div>
                        @Html.DropDownListFor(model => model.tipracuna,
                                 new SelectList(new List<SelectListItem>
                                 {
                                                    new SelectListItem { Value = "Gotovinski", Text = "Gotovinski"},
                                                    new SelectListItem { Value = "Virman", Text = "Virman"},
                                 }, "Value", "Text"), null, new { @class = "form-control mr-3", @id = "tip" })
                        @Html.ValidationMessageFor(model => model.tipracuna, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.idkupac, "Kupac:", htmlAttributes: new { @class = "control-label mr-3" })
                    <div id="dropdown_kupci">
                        @Html.DropDownListFor(m => m.idkupac, new SelectList((System.Collections.IEnumerable)ViewBag.kupci, "Value", "Text", "1"), htmlAttributes: new { @class = "form-control mr-3" })
                    </div>
                </div>
                <div class="form-group" id="id-date" style="display:none">
                    @Html.LabelFor(model => model.datvalute, "Datum valute:", htmlAttributes: new { @class = "control-label mr-3" })
                    <div>
                        @Html.EditorFor(model => model.datvalute, new { htmlAttributes = new { @class = "form-control mr-3", @data_provide = "datepicker", @autocomplete = "off", @required = "true" } })
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mb-1" id="tabela">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Artikal</th>
                    <th scope="col">Cena po JM</th>
                    <th scope="col">Količina</th>
                    <th scope="col" />
                </tr>
            </thead>
            <tbody id="stavke">
                @Html.Partial("StavkeRacuna")
            </tbody>
        </table>

    </div>



    <div class="row">
        <input type="button" id="btn-addStavka" value="Dodaj stavku" class="btn btn-primary btn-sm mb-3" />
    </div>

    <div class="row">
        <input type="submit" id="btnSbmt" value="Gotovo" class="btn btn-primary btn-lg mb-3" />
    </div>
}

@section styles {
    <link href="/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
}

@section scripts {

    <script src="/Scripts/bootstrap-datepicker.min.js"></script>

    <script>

        var brojStavki = 1

        $("document").ready(function () {
            prepareIndex()
            parseValidator()

            artikalChange($("#idartikal"))
            var opt = new Option("Fizičko lice", "")
            $("#dropdown_kupci").find("select").prepend(opt)
            opt.selected = true;
        })

        function parseValidator() {
            $('form').removeData('validator');
            $('form').removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse('form');
        }




        function artikalChange(param) {
            var artikal = $(param).val()
            console.log(artikal)
            var cenaField = $(param).parents("tr").find("input[name*='cenapojm']")
            var kolicinaField = $(param).parents("tr").find("input[name*='kolicina']")
            console.log(cenaField)
            var cenaPoJm = $.get("/racuns/getCenaPoJm/" + artikal, function (data) {
                $(cenaField).val(data)
                $(kolicinaField).val(0)
            })
        }

        $("#tip").change(function () {
            var val = $(this).val()
            if (val == "Virman") {
                $("#id-date").fadeIn(250);
                $("#dropdown_kupci").find("option:contains(Fizičko lice)").remove()
            }
            else {
                $("#id-date").fadeOut(250);
                $("#id-date").find("input").val("")
                var opt = new Option("Fizičko lice", "")
                $("#dropdown_kupci").find("select").prepend(opt)
                opt.selected = true;
            }
        })

        function checkStavke() {
            var buttons = $("input[value='Obriši']")
            if (brojStavki > 1) {
                buttons.each(function () { $(this).attr('style', 'display:normal') })
            }
            else
                buttons.each(function () { $(this).attr('style', 'display:none') })
        }

        $("#btn-addStavka").click(function() {
            brojStavki++
            checkStavke()

            var newrow = $("tr").last().clone()
            newrow.hide()
            $("#stavke").append(newrow)
            newrow.show(250)
            newrow.find("input[type='text']").val("")
            newrow.find("span[id*='error']").text("")
            artikalChange(newrow.find("select"))
            resetIndex()
            parseValidator()
        })

                $("#tabela").on("change", ".select-artikal", function () {
            artikalChange(this)
        })

        $("#tabela").on("click", ".btn-delStavka", function() {
            brojStavki--
            checkStavke()
            console.log(this)

            $(this).closest("tr").fadeOut(250, function () {
                $(this).remove()

                resetIndex()
            })
        })

        function prepareIndex() {
                        $("#stavke").find("input[type='number'], select").each(function () {
                var name = $(this).attr("name")
                name = "stavkaracunas[0]." + name
                $(this).attr("name", name)
            })

            $("#stavke").find("span").each(function () {
                var name = $(this).attr("data-valmsg-for")
                name = "stavkaracunas[0]." + name
                $(this).attr("data-valmsg-for", name)
            })
        }

        function resetIndex() {
            $("tbody").children("tr").each(function (index) {
                console.log(index)

                var inputs = $(this).find("input[type='number'], select")
                console.log(inputs)
                $.each(inputs, function () {

                    var name = $(this).attr("name")
                    console.log(name)
                    var leftIndex = name.indexOf('[') + 1
                    var rightIndex = name.indexOf(']')
                    var number = name.substring(leftIndex, rightIndex)
                    name = name.replace(number, index)
                    $(this).attr("name", name)
                })

                var spans = $(this).find("span")

                $.each(spans, function () {
                    var name = $(this).attr("data-valmsg-for")
                    var leftIndex = name.indexOf('[') + 1
                    var rightIndex = name.indexOf(']')
                    var number = name.substring(leftIndex, rightIndex)
                    name = name.replace(number, index)
                    $(this).attr("data-valmsg-for", name)
                })
            })
        }
    </script>
}