@model TrgovinaMVC.Models.racun

@{
    Layout = null;
    int count = 1;
}

<!DOCTYPE html>

<html>
<head>
    <title>Racun</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row mb-2">
            <div class="col col-3">
                <p>
                    <b>Naziv firme</b><br />
                                  <b>Adresa firme</b><br />
                                   <b>Broj telefona</b><br/>
                                    <b>PIB</b><br/>
                          <b>Maticni broj</b>
</p>
            </div>
            <div class="col col-6 text-center">
                <h1>LOGO FIRME</h1>
            </div>
            <div class="col col-3 text-right">
                <p>
                    <b>@Model.nazivkupca</b><br />
                    <b>@Model.adresakupca</b><br />
                    <b>@Model.brtelkupca</b><br />
                                             <b>@Model.pibkupca</b>
                </p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <h2><b>Račun br: @Model.brracuna/@Model.datizdavanja.Year</b></h2>
                <p>
                    <b>Datum izdavanja: @Model.datizdavanja</b>
                </p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Rb</th>
                            <th>Artikal</th>
                            <th>Cena po JM</th>
                            <th>Količina</th>
                            <th>Ukupna cena</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.stavkaracunas)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@item.nazivartikla</td>
                                <td>@item.cenapojm din.</td>
                                <td>@item.kolicina @item.jmartikla</td>
                                <td>@item.ukupnacena din.</td>
                            </tr>
                            { count++; }
                        }
                    </tbody>
                </table>
            </div>
            </div>
        <div class="row">
            <div class="col">
                <h3>Ukupno: @Model.ukupnacena din.</h3>
                <hr />
            </div>
            </div>
        </div>
</body>
</html>
