@model IEnumerable<TrgovinaMVC.Models.racun>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Broj računa</th>
            <th scope="col">Datum izdavanja</th>
            @if (Model.Count() > 0 && Model.First().tipracuna == "Virman")
            {
                <th scope="col">Datum valute</th>
            }
            <th scope="col">Kupac</th>
            <th scope="col">Ukupna cena</th>
            <th scope="col" />
            <th scope="col" />
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.brracuna)/@Html.DisplayFor(modelItem => item.datizdavanja.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.datizdavanja)
                    </td>
                    @if (item.tipracuna == "Virman")
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.datvalute)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.nazivkupca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ukupnacena)
                    </td>
                    <td>
                        <input type="button" value="Prikaži" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Show", new { id = item.idracun })'">
                    </td>
                    <td>
                        <input type="button" value="Obriši" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalDel" onclick="prepareDelete(@item.idracun, this)">
                    </td>
                </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalDel" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Potvrda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Da li ste sigurni da želite da obrišete ovog kupca?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Poništi</button>
                <button type="button" class="btn btn-primary" onclick="Submit()" data-dismiss="modal">Potvrdi</button>
            </div>
        </div>
    </div>
</div>