@model IEnumerable<TrgovinaMVC.Models.racun>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Broj računa</th>
            <th scope="col">Datum izdavanja</th>
            @if (Model.Count() > 0 && Model.First().tipracuna == "Virman")
            {
                <th scope="col">Datum valute</th>
            }
            <th scope="col">Kupac</th>
            <th scope="col">Ukupna cena</th>
            <th scope="col" />
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.brracuna)/@Html.DisplayFor(modelItem => item.datizdavanja.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.datizdavanja)
                    </td>
                    @if (item.tipracuna == "Virman")
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.datvalute)
                        </td>
                    }
                <td>
                    @if (item.idkupac.HasValue)
                    {
                        @Html.DisplayFor(modelItem => item.kupac.naziv)
                    }
                    else
                    {
                        @:Fizičko lice
                    }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ukupnacena)
                    </td>
                    <td>
                        <input type="button" value="Prikaži" class="btn btn-primary btn-sm" onclick="window.open('@Url.Action("Show", new { id = item.idracun })', '_blank')">
                    </td>
                </tr>
        }
    </tbody>
</table>
