@model TrgovinaMVC.Models.stavkaracuna
<tr>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <td>
        <div>
            <div>
                @Html.DropDownListFor(m => m.idartikal, new SelectList((System.Collections.IEnumerable)ViewBag.artikli, "Value", "Text", "1"), htmlAttributes: new { @class = "form-control select-artikal" })
                @Html.ValidationMessageFor(model => model.idartikal, "", new { @class = "text-danger", @data_orgname = "artikal.naziv" })
            </div>
        </div>
    </td>
    <td>
        <div>
            <div>
                @Html.EditorFor(model => model.cenapojm, new { htmlAttributes = new { @class = "form-control", @data_orgname = "cenapojm", @type = "number", @step = "0.01", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.cenapojm, "", new { @class = "text-danger", @data_orgname = "cenapojm" })
            </div>
        </div>
    </td>
    <td>
        <div>
            <div>
                @Html.EditorFor(model => model.kolicina, new { htmlAttributes = new { @class = "form-control", @data_orgname = "kolicina", @type = "number", @step = "0.01", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.kolicina, "", new { @class = "text-danger", @data_orgname = "kolicina" })
            </div>
        </div>
    </td>
    <td>
        <div>
            <div>
                <input type="button" value="Obriši" class="btn btn-primary btn-delStavka" style="display:none" />
            </div>
        </div>
    </td>
</tr>
